.section2 {
  height: 100vh;
  width: 100%;
  background-color: #c4c4c4;
  position: relative;
  display: flex;
  font-family: "Inter Tight", sans-serif;
}

.section2-left {
  width: 50%;
  margin-left: 40px;
  padding: 40px;
}

.section2-left h2 {
  margin-top: 50px;
}

.section2-left h3 {
  font-weight: bold;
  font-size: 34px;
  margin-top: 20px;
}

.section2-left p {
  margin-top: 30px;
  line-height: 1.6rem;
  font-size: 18px;
  font-weight: bold;
}

.section2-left .leftbtn {
  padding: 15px 40px;
  color: black;
  background-color: #e45417;
  margin-left: 70px;
  margin-top: 70px;
  position: absolute;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 15px;
}

.section2-right {
  padding: 30px;
}

.section2-right img {
  width: 350px;
  height: 350px;
  border-radius: 200px;
  object-fit: cover;
  object-position: 100% 15%;
  box-shadow: 20px 15px;
  margin-top: 90px;
  margin-left: 40px;
}
